<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with LeadMark landing page.">
    <meta name="author" content="Devcrud">

    <title>AQUADATING</title>

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='assets/imgs/logo.svg') }}">
    <!-- font icons -->
    <link rel="stylesheet"
        href="{{ url_for('static', filename='assets/vendors/themify-icons/css/themify-icons.css') }}">
    <!-- Bootstrap + LeadMark main styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/leadmark.css') }}">
    <!-- fontawesome -->
    <link href="{{ url_for('static', filename='assets/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }

        .video-container {
            width: 100%;
            margin: auto;
        }

        .live-feed {
            width: 100%;
            height: auto;
            max-height: 400px;
            object-fit: contain;
        }

        #team .member .pic {
            height: auto;
            max-height: 260px;
        }

        #team .member .pic .emoji {
            font-style: normal;
            font-size: 150px;
            line-height: 1;
            display: block;
            transform: rotate(0deg);
        }
    </style>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- page Navigation -->
    <nav class="navbar custom-navbar navbar-expand-md navbar-light fixed-top" data-spy="affix" data-offset-top="10">
        <div class="container">
            <a class="navbar-brand" href="#home">
                <img src="{{ url_for('static', filename='assets/imgs/logo.svg') }}" alt="">
            </a>
            <a class="nav-item" href="#home">&#160; AQUADATING</a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#AboutUs">AboutUs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#service">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#aplikasi">Aplikasi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Team</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Of Second Navigation -->

    <!-- Page Header -->
    <header class="header" id="Home">
        <div class="overlay">
            <h1 class="title">AQUADATING</h1>
            <h1 class="subtitle">Apple Quality Detection with Automatic Counting</h1>
        </div>
        <div class="shape">
            <svg viewBox="0 0 1500 200">
                <path
                    d="m 0,240 h 1500.4828 v -71.92164 c 0,0 -286.2763,-81.79324 -743.19024,-81.79324 C 300.37862,86.28512 0,168.07836 0,168.07836 Z" />
            </svg>
        </div>

        <div class="mouse-icon smooth">
            <a class="nav-link smooth-link" href="#AboutUs">Read More</a>
        </div>
    </header>
    <!-- End Of Page Header -->

    <!-- About Section -->
    <section class="section" id="AboutUs">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 pr-md-5 mb-4 mb-md-0">
                    <h6 class="section-title mb-0">AQUADATING</h6>
                    <h6 class="section-subtitle mb-4">
                        Apple Quality Detection with Automatic Counting
                    </h6>
                    <p>
                        Web kami merupakan solusi inovatif berbasis machine learning yang dirancang untuk otomatisasi
                        penghitungan dan inspeksi kualitas buah apel.Website kami bertujuan untuk mengatasi masalah yang
                        dihadapi oleh industri apel di Indonesia, terkait dengan penghitungan manual dan kontrol
                        kualitas yang sering kali tidak akurat dan tidak konsisten.
                    </p>
                    <img src="{{ url_for('static', filename='assets/imgs/about.jpg') }}" alt=""
                        class="w-100 mt-3 shadow-sm">
                </div>
                <div class="col-md-6 pl-md-5">
                    <div class="row">
                        <div class="col-6">
                            <img src="{{ url_for('static', filename='assets/imgs/apple_fresh.jpg') }}" alt=""
                                class="w-100 shadow-sm">
                        </div>
                        <div class="col-6">
                            <img src="{{ url_for('static', filename='assets/imgs/apple_stole.jpg') }}" alt=""
                                class="w-100 shadow-sm">
                        </div>
                        <div class="col-12 mt-4">
                            <p>
                                Indonesia, dengan iklim tropis dan tanah yang subur, adalah lokasi yang sempurna untuk
                                pertanian, termasuk penanaman apel yang umumnya memerlukan iklim sejuk. Daerah seperti
                                Malang, Pasuruan, Magetan, dan Batu menjadi pusat produksi, dengan hasil panen yang
                                berlimpah digunakan untuk berbagai produk olahan apel.
                            </p>
                            <p>
                                Dalam industri apel, terdapat tantangan dalam penghitungan dan pengendalian kualitas
                                buah. Pencatatan manual seringkali tidak akurat dan tidak efisien, menyebabkan
                                pemborosan dan produk yang tidak konsisten. Untuk mengatasi hal ini, diperlukan
                                otomatisasi dalam proses penghitungan dan inspeksi kualitas, yang dapat memberikan data
                                real-time dan meningkatkan efisiensi. Otomatisasi ini juga dapat mengurangi kebutuhan
                                tenaga kerja dan biaya produksi, memastikan hanya apel berkualitas tinggi yang diproses
                                lebih lanjut.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End OF About Section -->

    <!-- Service Section -->
    <section class="section" id="service">
        <div class="container">
            <h6 class="section-title text-center">Our Service</h6>
            <h6 class="section-subtitle text-center mb-5 pb-3">AQUADATING merupakan model machine learning yang dapat
                menghitung jumlah dan inspeksi kualitas apel. Solusi ini akan dirancang untuk menghasilkan
                output di atas dengan cara mengenali citra buah apel dari input data user. Solusi ini dibuat untuk
                menggantikan proses manual yang selama ini dilakukan. <br>AQUADATING menyediakan dua fitur utama yaitu
                Quality Detection dan Automatic Counting.
            </h6>

            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-6 mb-md-0">
                        <div class="card-body">
                            <small class="text-primary font-weight-bold">01</small>
                            <h5 class="card-title mt-3"> Quality Detection </h5>
                            <p class="mb-0">
                                Fitur AQUADATING yang bertujuan untuk memastikan kualitas apel yang
                                diproses. Dengan menggunakan teknologi machine learning, sistem ini menganalisis
                                gambar apel yang diunggah pengguna untuk mendeteksi kualitas setiap apel secara
                                real-time
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-6 mb-md-0">
                        <div class="card-body">
                            <small class="text-primary font-weight-bold">02</small>
                            <h5 class="card-title mt-3">Automatic Counting</h5>
                            <p class="mb-0">
                                Fitur AQUADATING yang dirancang untuk menghitung jumlah apel secara
                                otomatis dan akurat. Fitur ini menggantikan metode manual yang sering kali tidak
                                akurat dan memakan waktu.sehingga hasil pemeriksaan
                                dapat diterima oleh user dalam waktu yang lebih cepat
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End OF Service Section -->

    <!-- Aplikasi Section -->
    <section id="aplikasi" class="section portfolio-section">
        <div class="container">
            <h6 class="section-title text-center">Our Project</h6>
            <h6 class="section-subtitle mb-5 text-center">
                Object Detection - Apple Detection (Fresh / Stale)
            </h6>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Apple Object Detection (Fresh / Stale)</h5>
                        <h5>Features: </h5>
                        <ul>
                            <li>Object Detection With Image Upload(Single / Multiple)</li>
                            <li>Display Image Object Detection Results</li>
                            <li>Download Image Object Detection Results <i class="bi-check-lg text-success"></i></li>
                            <li>Realtime Object Detection With Camera</li>
                            <li>Apple Counting</i></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation" class="nav-item">
                                <a href="#tab-01" class="nav-link active" aria-controls="tab-01" role="tab"
                                    data-toggle="tab">
                                    With Image
                                </a>
                            </li>
                            <li role="presentation" class="nav-item">
                                <a href="#tab-03" class="nav-link" aria-controls="tab-03" role="tab" data-toggle="tab">
                                    With Live Camera
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content mt-3">
                            <div role="tabpanel" class="tab-pane active" id="tab-01">
                                <form id="formImgPred" action="/imgpred" method="post" enctype="multipart/form-data">
                                    <h4>Upload your apple image</h4>
                                    <div class="row mt-2">
                                        <div class="col-md-12">
                                            <input name="images[]" class="form-control" type="file" id="imagesInput"
                                                accept="image/*" required multiple>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <button type="submit" class="btn btn-primary" id="btnImgSubmit">
                                                Upload Image
                                            </button>

                                            <button type="reset" class="btn btn-danger ml-3" id="btnResetImgPred">
                                                Reset
                                            </button>

                                            <!-- modal -->
                                            <button type="button" id="btnPredResults"
                                                class="btn btn-primary ml-3 hidden" data-toggle="modal"
                                                data-target="#myModal">
                                                Predict Results
                                            </button>
                                        </div>
                                        <div class="col-md-12 mt-3" id="alertNotify"></div>
                                    </div>
                                </form>
                            </div>
                            <!-- realtime detection -->
                            <div role="tabpanel" class="tab-pane" id="tab-03">
                                <h4>Directly Detect Apple With Your Camera</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <img class="live-feed hidden" id="video-feed1"
                                            src="{{ url_for('static', filename='assets/imgs/header.jpg') }}"
                                            alt="Real time camera">
                                        <div id="videoLiveFeed" class="video-container"></div>
                                    </div>
                                    <hr>
                                    <div class="col-md-12 mt-4">
                                        <button id="btnStartCamera" class="btn btn-primary">Start Camera</button>
                                        <button id="btnStopCamera" class="btn btn-danger">Stop Camera</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- End of Aplikasi section -->

    <div id="alertSuccess" class="alert alert-success alert-dismissible fade" role="alert">
        <strong>Prediction success!</strong> Check on the Predict Results
        Button!.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- Modal Image Prediction Results -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Predict Results</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" id="modalBodyImgPred"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btnDownloadConnect" type="button" class="btn btn-primary">Download Results</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Company Logo Carousel -->
    <div class="logo-carousel-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo-carousel-inner">
                        <div class="single-logo-item">
                            <img src="{{ url_for('static', filename='assets/imgs/company-logos/1.jpg') }}" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="{{ url_for('static', filename='assets/imgs/company-logos/2.png') }}" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="{{ url_for('static', filename='assets/imgs/company-logos/3.png') }}" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="{{ url_for('static', filename='assets/imgs/company-logos/4.png') }}" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="{{ url_for('static', filename='assets/imgs/company-logos/5.png') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- end Company Logo Carousel -->

    <!-- Team Section -->
    <section id="team">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title text-center">Our Team</h3>
                <p class="section-description text-center">
                    Our team is composed of talented and dedicated professionals, each
                    bringing their unique expertise to drive our success. Get to know the individuals who make our
                    company thrive
                </p>
            </div>
            <div class="row mt-5">
                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <div class="pic"><span class="emoji">👨‍💻</span></div>
                        <h4> Bagus Dwi Prasetya</h4>
                        <span>Modeling & Evaluation</span>
                        <div class="social">
                            <a href=""><i class="fa fa-whatsapp"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <div class="pic"><span class="emoji">👩‍💻</span></div>
                        <h4> Risma Dwi Zulianti</h4>
                        <span>Data Aqusition</span>
                        <div class="social">
                            <a href=""><i class="fa fa-whatsapp"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <div class="pic"><span class="emoji">👩‍💻</span></div>
                        <h4>Natasya Nur Hadiyanti</h4>
                        <span>Modeling & Evaluation</span>
                        <div class="social">
                            <a href=""><i class="fa fa-whatsapp"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <div class="pic"><span class="emoji">👩‍💻</span></div>
                        <h4>Dellya Dievha</h4>
                        <span>Data Exploration</span>
                        <div class="social">
                            <a href=""><i class="fa fa-whatsapp"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <div class="pic"><span class="emoji">👨‍💻</span></div>
                        <h4>Satria Dioufan Artha Desanta</h4>
                        <span>UI/UX Designer</span>
                        <div class="social">
                            <a href=""><i class="fa fa-whatsapp"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <div class="pic"><span class="emoji">👨‍💻</span></div>
                        <h4> Masyura Fanni R.</h4>
                        <span>Deployment</span>
                        <div class="social">
                            <a href=""><i class="fa fa-whatsapp"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end team section -->

    <!-- Contact Section -->
    <section id="contact" class="section has-img-bg pb-0">
        <div class="container">
            <!-- footer -->
            <div class="footer-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-box about-widget">
                                <h2 class="widget-title">About us</h2>
                                <p> Temukan solusi untuk mendeteksi kualitas apel dan menghitung jumlahnya secara
                                    otomatis.

                                    Bergabunglah dengan kami untuk meningkatkan efisiensi produksi.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-box get-in-touch">
                                <h2 class="widget-title">Get in Touch</h2>
                                <ul>
                                    <li>Suarabaya, Jawa Timur</li>
                                    <li>aquadating@gmail.com</li>
                                    <li>+62 1111 2222 3333</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-box pages">
                                <h2 class="widget-title">Pages</h2>
                                <ul>
                                    <li class="smooth">
                                        <a class="smooth-link" href="#home">Home</a>
                                    </li>
                                    <li class="smooth">
                                        <a class="smooth-link" href="#AboutUs">AboutUs</a>
                                    </li>
                                    <li class="smooth">
                                        <a class="smooth-link" href="#service">Service</a>
                                    </li>
                                    <li class="smooth">
                                        <a class="smooth-link" href="#aplikasi">Aplikasi</a>
                                    </li>
                                    <li class="smooth">
                                        <a class="smooth-link" href="#team">Team</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-box subscribe">
                                <h2 class="widget-title">Subscribe</h2>
                                <p>Subscribe to our mailing list to get the latest updates.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end footer -->

            <!-- Page Footer -->
            <footer class="mt-5 py-4 border-top border-secondary">
                <!-- copyright -->
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <p>Copyrights &copy; 2024 - <a href="#">Across Borders</a>, All
                                    Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end copyright -->
            </footer>
            <!-- End of Page Footer -->
        </div>
    </section>

    <!-- core  -->
    <script src="{{ url_for('static', filename='assets/vendors/jquery/jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendors/bootstrap/bootstrap.bundle.js') }}"></script>

    <!-- bootstrap 3 affix -->
    <script src="{{ url_for('static', filename='assets/vendors/bootstrap/bootstrap.affix.js') }}"></script>

    <!-- Isotope -->
    <script src="{{ url_for('static', filename='assets/vendors/isotope/isotope.pkgd.js') }}"></script>

    <!-- LeadMark js -->
    <script src="{{ url_for('static', filename='assets/js/leadmark.js') }}"></script>

    <!-- function.js -->
    <script src="{{ url_for('static', filename='assets/js/function.js') }}"></script>
</body>

</html>